---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif: "Raleway", sans-serif, !default;
$sans-serif: "Raleway", sans-serif, !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Setting again Raleway fonts to avoid are being rewritten by the included sass
$serif: "Raleway", sans-serif, !default;
$sans-serif: "Raleway", sans-serif, !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;


a:not(.btn):not(#goog-wm-sb):not(.page__share),
a:not(.btn):not(#goog-wm-sb):not(.page__share):link,
a:not(.btn):not(#goog-wm-sb):not(.page__share):active,
a:not(.btn):not(#goog-wm-sb):not(.page__share):visited,
a:not(.btn):not(#goog-wm-sb):not(.page__share):hover {
    color:           #4a93dd;
    text-decoration: none;
}

#protocols ul{
  list-style: none;
}
#protocols li{
  display: inline;
}


/*a:hover {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
}
*/
a:not(.btn):not(#goog-wm-sb):not(.page__share):hover {
    color:           #4a93dd;
    text-decoration:none;
}

.greedy-nav__toggle {
    background: white;
    color: #20aa73;
}

.greedy-nav a:hover {
    color:           #4a93dd;
}

.greedy-nav .visible-links a::before {
    background: #20aa73;
}

.greedy-nav .visible-links {
    justify-content: flex-center;
}

.navicon {
    background: #20aa73;
    color: #20aa73;
}

.navicon::before, .navicon::after {
    color: white;
    background: #20aa73;
}

a:focus, button:focus {

    outline: thin dotted #20aa73;
    outline: 5px auto #20aa73;
    outline-offset: -2px;

}

.search__toggle {
    background: white;
    color:           #20aa73;
}

.search__toggle:focus, .search__toggle:active, .search__toggle:hover {
    background: white;
    color:           #20aa73;
}

.page__content a:not(.btn):not(#goog-wm-sb):not(.page__share):hover {
    text-decoration-color: #20aa73;
}

.toc .nav__title {
    background: #20aa73;
}

/*
a:active {
    text-decoration:none;
    padding-top: 2px;
}

.page__content a:not(.btn):not(#goog-wm-sb):hover {
    text-decoration: none;
}
*/
blockquote {
    display:block;
    background: #fff;
    padding: 15px 20px 15px 55px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    /*font-family: Georgia, serif;*/
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    border-left: 5px solid #20aa73;
    border-right: 2px solid #20aa73;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}
blockquote::before {
    content: "\201C";
    font-size: 60px;
    font-weight: bold;
    color: #4a93dd;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
}
blockquote::after{
  /*Reset to make sure*/
  content: "";
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.callout {
    float: right;
}
.callin {
    float: left;
}

.page__footer {
    li {
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: $sans-serif-narrow;
        font-size: $type-size-6;
        text-transform: none;
    }
}

.feature__wrapper {
    clear: both;
    margin-bottom: 2em;
    border-bottom: 0px solid #bfbfbf;
}

.feature__item--center {
    font-size: 1.350em;
    margin-top: 0.8em;
}
.btn,
#goog-wm-sb {
 display:inline-block;
 margin-bottom:0.25em;
 padding:0.5em 1em;
 font-family:"Raleway",sans-serif;
 font-size:.55em;
 font-weight:bold;
 text-align:center;
 text-decoration:none;
 border-width:0;
 border-radius:4px;
 cursor:pointer
}

.btn--primary {

    background-color: #4a93dd;
    /*background-color: #fff;*/
    color: #fff;

}
.btn--primary:visited {
 background-color: #4a93dd;
 /*background-color: #fff;*/
 color:#fff
}
.btn--primary:hover {

    background-color: #3a75af;
    /*background-color: #fff;*/
    color: #fff;

}
